﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
}
<div class="card">
    <div class="card-content">
        <h2>Über das Projekt</h2>
        <p>Modul 121 der IET-GIBB</p>
        <p>Code wurde in Eigenarbeit von Yannik Gartmann erstellt.</p>
        <p>Das Projekt wurden gemeinsam mit Joshua Müller erarbeitet, dokumentiert und präsentiert.</p>
    </div>
</div>
