﻿@model M121Webapp.Models.ViewModel.RenderDataViewModel

<div class="row">
    @foreach(var d in Model.DataSet)
    {
        <div class="col s12">
            <h6>@d.Name</h6>
            <table class="centered">
                <tbody>
                    <tr>
                        <th>@nameof(d.LightSensor)</th>
                        <td>@d.LightSensor</td>
                    </tr>
                    <tr>
                        <th>@nameof(d.MoistureSensor)</th>
                        <td>@d.MoistureSensor</td>
                    </tr>
                    <tr>
                        <th>@nameof(d.TempSensor)</th>
                        <td>@d.TempSensor</td>
                    </tr>
                    <tr>
                        <th>@nameof(d.WaterLevelSensor)</th>
                        <td>@d.WaterLevelSensor</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    @if (Model.DataSet.Count <= 0)
    {
        <p class="center orange-text">Kein Inhalt. Wurde das Arduino an das Internet angebunden?</p>
    }
</div>