﻿<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/style/materialize.min.css" media="screen,projection" />

    <title>SmartPlant | @ViewData["Title"]</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="teal lighten-3">
    <nav>
        <div class="nav-wrapper teal darken-1">
            <a href="@Url.Action("Index", "Home")" class="brand-logo">SmartPlant</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="@Url.Action("About", "Home")">Über</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="~/scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/scripts/materialize.min.js"></script>
    <script type="text/javascript" src="~/scripts/async.js"></script>
</body>
</html>
